*{
    margin: 0px;
    padding: 0px;
}
header{
    background-color: #181818;
    padding: 24px 0px;
}
header .container{
    max-width: 1200px;
    margin: auto;
    padding-left: 32px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header nav ul{
    list-style: none;
    display: flex;
    align-items: center;
}
header nav ul li{
    margin-left: 32px;
}

header nav ul li:first-of-type{
    margin-right: 24px;
}
header nav ul li:last-of-type{
    margin-left: 31px;
}
header nav a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
}
header nav ul li:first-of-type a{
    font-size: 13px;
   
}
header nav ul li:last-of-type a{
    background: #FFFFFF;
    border-radius: 14px;
    font-size: 16px;
    letter-spacing: 0.4px;
    color: #000000;
    padding: 11px 20px;
}
.main_screen{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 71px;
    background-image: url("../img/IMAGE.jpg");
    background-size: cover;
    height: calc(100vh - 83px);
    box-sizing: border-box;
}
.main_screen article{
    max-width: 580px;
}
.main_screen article h3{
    margin-bottom: 1px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
     color: #C0C0C0;
}
.main_screen article h1{
    margin-bottom: 18px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 59px;
    text-align: center;
    color: #FFFFFF;

}
.main_screen article p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #C0C0C0;
}
.get_in{
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-top: 113px;
    box-sizing: border-box;
    padding-bottom: 100px;
    text-align: center;
}

.get_in h1{
width: 571px;
height: 84px;
left: calc(50% - 571px/2 + 0.5px);
top: -7px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 42px;
color: #FFFFFF;
margin-bottom: 15px;
}

.get_in h3{
height: 30px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 30px;
color: #C0C0C0;
margin-bottom: 10px;
}
.get_in a{
    padding: 9px 10px 13px 6px;
    background-color: #FFFFFF;
    height: 42px;
    width: 154px;
    box-sizing: border-box;
    border-radius: 14px;
    color: #000000;
    text-decoration: none;
    line-height: 23px;
    display: inline-flex;   
    align-items: center;
    letter-spacing: 0.4px;
}
a.text-image::before {
    content: "";
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #000000;
    margin-right: 8px;
}


.sunset{
    background-image: url("../img/sunset.jpg");
    background-size: cover;
    min-height: 600px;
    background-position: center center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 60px;
}

.sunset article{
    max-width: 300px;
}

.sunset article h4{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.sunset article p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}
.monstera{
    background-image: url("../img/monstera_back.jpg");
    
}
.himalayas{
    background-image: url("../img/himalay_back.jpg");
}
.past_clients{
    padding: 113px 0 140px;
    background-color: #000000;
}
.past_clients .container{
    max-width: 1168px;
    margin: auto;
}

.past_clients h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.past_clients h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
    margin-bottom: 82px;
}
.past_clients .flex_block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.past_clients .flex_block a{
    display: inline-block;
    margin: 0 10px;
    max-width: 128px;
}
.past_clients .flex_block a img{
    display: block;
    width: 100%;
}
footer{
    background-color: #000000;
}
footer .info{
    height: 200px;
    margin-bottom: 36px;
    display: flex;
    justify-content: space-between;
}
footer .info a{
    margin-bottom: 20px;
}
p{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 20px;
color: #C0C0C0;
}
footer .info li{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 20px;
color: #FFFFFF;
list-style: none;
}
footer .info ul{
   margin-left: 56px;
   
}
.first{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
letter-spacing: 2px;
text-transform: uppercase;
color: #C0C0C0;
}
.contacts{
    margin-bottom: 36px;
    display: inline-flex;
}

footer .subscribe{
    height: 132px;
}
footer .media{
    height: 74px;
}
.footer_contain{
    padding: 100px 126px 100px 146px;
}
.subscribe h3{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
letter-spacing: 2px;
text-transform: uppercase;
color: #FFFFFF;
}
hr{
    padding: 0 126px 0 146px;
}
.icons{
    display: flex;
    justify-content: flex-end;
}
.icons a{
    margin-left: 30px;
}
.subscribe{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
input{
    width: 452px;
    height: 52px;
}
button{
    width: 73px;
    height: 52px;
}